Microsoft.Flow/flows/60c87421-ab06-4571-ad08-3b45a288a8e5/definition.json
{"name":"2572c299-268f-4ea8-836d-8fd80aa31936","id":"/providers/Microsoft.Flow/flows/2572c299-268f-4ea8-836d-8fd80aa31936","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Notify me on Teams when I receive an email with negative sentiment","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"784611d9-647b-4f6d-90ab-55672037d953","type":"User","tenantId":"fa8ca91c-4f89-415e-8fd6-7b6c090ca06c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-03-27T07:33:49.4385166Z","connectionKeySavedTimeKey":"2025-03-27T07:33:49.4385166Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"parameters":{"folderPath":"Inbox"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Html_to_text":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p>@{triggerOutputs()?['body/body']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}},"Analyze_positive_or_negative_sentiment_in_text":{"runAfter":{"Initialize_EmailContentShort":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_sentimentanalysis","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/language":"en","item/requestv2/text":"@variables('EmailContentShort')","recordId":"f1c549c2-a97e-47a5-b612-c5c2bab0f163"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_sentimentanalysis"},"authentication":"@parameters('$authentication')"}},"Get_my_profile_(V2)":{"runAfter":{"Analyze_positive_or_negative_sentiment_in_text":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"authentication":"@parameters('$authentication')"},"description":"This action retrieves your email address to be able to send you an email with the extracted information."},"Initialize_EmailContentShort":{"runAfter":{"Html_to_text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailContentShort","type":"string","value":"@{substring(outputs('Html_to_text')?['body'], 0, if(greater(length(outputs('Html_to_text')?['body']), 1000), 1000, length(outputs('Html_to_text')?['body'])))}"}]},"description":"We take the first 5000 characters from the email."},"Condition":{"actions":{"Post_message_in_a_chat_or_channel":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","body/messageBody":"<p>Hi @{outputs('Get_my_profile_(V2)')?['body/displayName']}! You have received an email from @{triggerOutputs()?['body/from']} with <strong>negative sentiment</strong> 😟<br>\nHere is a snippet:<br>\n\"@{triggerOutputs()?['body/bodyPreview']}\"</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@outputs('Analyze_positive_or_negative_sentiment_in_text')?['body/responsev2/predictionOutput/result/sentiment']","negative"]},"type":"If"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-f2f13378-df5d-4f81-b449-f6b5b1e692c4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_conversionservice":{"connectionName":"shared-conversionser-9d41fb6c-b02d-49b2-a97c-a8f93ea7fb61","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified","apiName":"conversionservice"},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-c1a2169b-cf9d-4707-942b-a44b44b3bd58","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps"},"shared_office365users":{"connectionName":"shared-office365user-04cf2217-1f08-449e-9706-eacf5258d0a4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users"},"shared_teams":{"connectionName":"shared-teams-47da6fda-9069-4c33-96a4-5e0db735ed3c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams"}},"flowFailureAlertSubscribed":false,"isManaged":false}}